<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3">
      <% if @game.image.attached? %>
        <%= image_tag @game.image, style: "width: 100%; display: block" %>
      <% end %>
    </div>

    <div class="col-9">
      <div class="row">
        <div class="col-md-2"><%= form.label :title %></div>
        <div class="col-lg-10"><%= form.text_field :title %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><%= form.label :genre %></div>
        <div class="col-lg-10"><%= form.text_field :genre %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><%= form.label :price %></div>
        <div class="col-lg-10"><%= form.text_field :price %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><%= form.label :interest %></div>
        <div class="col-lg-10"><%= form.number_field :interest %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><%= form.label :description %></div>
        <div class="col-lg-10"><%= form.text_area :description %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><%= form.label :image %></div>
        <div class="col-lg-10"><%= form.file_field :image, class: "form-control" %></div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
