<p id="notice"><%= notice %></p>

<div class="container bg-dark text-light">
  <p>
    <strong>Showing Game:</strong>
    <%= @game.title %>
  </p>

  <ul class="list-group">
    <li class="list-group-item">
      <strong>Genre:</strong>
      <%= @game.genre %>
    </li>
    <li class="list-group-item">
      <strong>Price:</strong>
      $
      <%=@game.price %>
    </li>
    <li class="list-group-item">
      <strong>Interest:</strong>
      <%= @game.interest %>
      / 10
    </li>
    <li class="list-group-item">
      <strong>Description:</strong>
      <%= @game.description %>
    </li>
  </ul>

  <div class="btn-group" role="group" aria-label="game_show_nav_buttons">
    <%= link_to 'Edit', edit_game_path(@game), :class => "btn btn-primary" %>
    <%= link_to 'Back', games_path, :class => "btn btn-primary" %>
  </div>
</div>